@model IEnumerable<DriveShare.ViewModels.FileDataViewModel>

@{
    string[] imageList = { "png", "jpg", "jpeg", "gif", "tif", "tiff", "bmp", "ico", "Webp" };
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card">
                    @if (imageList.Contains(item.ContentType))
                    {
                        <img src="/Uploads/@item.FileSerial" class="card-img-top" alt="@item.FileName" />
                    }
                    else
                    {
                        <img src="/images/Site Backgrounds/abstract.jpg" class="card-img-top" alt="@item.FileName" />
                    }
                    <div class="card-body d-flex flex-column text-center">
                        <h5 class="card-title">@item.FileName</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><small class="text-muted">Created on @item.CreatedOn.ToString("dd-MMM-yyyy HH:mm")</small></p>
                        <div class="row justify-content-center mx-1 mt-auto">
                            <a asp-controller="Home" asp-action="DownloadFile" asp-route-id="@item.Id" class="btn btn-outline-primary">@Localizer["Download"]</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>