@model IEnumerable<DriveShare.ViewModels.FileDataViewModel>

@{
    ViewData["Title"] = "Index";
    string[] imageList = { "png", "jpg", "jpeg", "gif", "tif", "tiff", "bmp", "ico", "Webp" };
}


<div class="d-flex justify-content-between my-5">
    <h3>@Localizer["MyUploads"]</h3>
    <a class="btn btn-outline-success" asp-action="UploadFile">@Localizer["UploadFile"]</a>
</div>

<table class="table table-striped" id="uploadedFiles">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="btn-close align-self-end m-2" data-bs-dismiss="modal"></button>
            <div class="mt-2 mb-4">
                <h4 class="text-center text-danger">@Localizer["DeleteFile"]</h4>
            </div>
            <div style="background-color: #F9F9FB; border-top: 1px solid #eaebed;" class="rounded-bottom">
                <div class="row mb-3 mt-4 justify-content-center">
                    <p class="text-center text-secondary fs-5">@Localizer["DeleteFileMessage"]</p>
                </div>
                <div class="row mb-5 justify-content-center">
                    <input class="btn btn-danger col-4 me-1" value="@Localizer["Confirm"]" id="confirm-delete-btn" />
                    <input class="btn btn-outline-secondary col-4 ms-1" value="@Localizer["Cancel"]" data-bs-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script src="~/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/datatables/Datatable.Master.js"></script>
<script>
    //Datatable Script
      $(document).ready(function () {

          let selector = "#uploadedFiles";
          let url = "/MyFiles/GetUploads";
          let columns = [
              { data: "fileName" },
              { data: "contentType" },
              { data: "size" },
              { data: "downloadCount" },
              { data: "createdOn" },
              { data: "lastModifiedOn" },
              {
                  data: "", render: function (data, type, row) {
                      return `<a class="btn btn-danger cursor-pointer deleteBtn" id="${row.id}" onclick="selectFile(this.id)"><i class="fas fa-trash-alt text-white"></i></a>`;
                  }
              },
          ]

          let params = [1];
          let dataTable = getData(selector, url, columns, params);

          //$("#documentStatus").on("change", function () {

          //    params = [$(this).val()];
          //    dataTable.destroy();
          //    dataTable = getData(selector, url, columns, params);
          //})
      });
</script>

<script>
    //Delete Script
      function selectFile(id){

          let deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'), {
            keyboard: true
          });

          deleteModal.show();

          const confirmDeleteBtn = document.getElementById('confirm-delete-btn');
          confirmDeleteBtn.addEventListener("click", function(e){
              deleteModal.hide();
              deleteFile(id);
          });
      }

      function deleteFile(fileId){
          fetch('/MyFiles/DeleteFile', {
                  headers:{'Content-Type': 'application/json'},
                  method: 'Delete',
                  credentials: 'include',
                  body: JSON.stringify({id: fileId}),
          }).then(response =>{
              if(! response.ok)
                  alert('something went wrong please try again.');
              else
                  return response.json();
          }).then(data =>{
              alert('File Deleted Successfully');
              window.location.href = data.redirectUrl;
          }).catch(error => {
              alert(error);
          });
      };
</script>
}


@* if you recieve a can't get data row 0 column 0 to etc.. make shure that the data columns are in camel case
    you might as well rename the columns in the view model*@

