@model IEnumerable<DriveShare.ViewModels.FileDataViewModel>

@{
    ViewData["Title"] = "Index";
    string[] imageList = { "png", "jpg", "jpeg", "gif", "tif", "tiff", "bmp", "ico", "Webp" };
}

<environment include="Development">
    <link rel="stylesheet" href="~/datatables/css/dataTables.bootstrap5.min.css" asp-append-version="true" />
</environment>
<environment include="Production, Staging">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" asp-append-version="true" />
</environment>

<div class="bg-white p-4 mt-5 mb-4 rounded custom-shadow">
    <div class="col-12 d-flex justify-content-between flex-wrap">
        <div class="col-sm-12 col-md-6 px-0">
            <h3 class="text-primary">@Localizer["MyUploads"]</h3>
        </div>
        <div>
            <a class="btn btn-primary" asp-action="UploadFile" title="@Localizer["UploadFile"]"><i class="fa-solid fa-arrow-up-from-bracket"></i></a>
        </div>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12 table-responsive">
        <table class="table table-striped table-bordered wrap" style="width:100%" id="uploadedFiles">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FileName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContentType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Size)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DownloadCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastModifiedOn)
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="btn-close align-self-end m-2" data-bs-dismiss="modal"></button>
            <div class="mt-2 mb-4">
                <h4 class="text-center text-danger">@Localizer["DeleteFile"]</h4>
            </div>
            <div style="background-color: #F9F9FB; border-top: 1px solid #eaebed;" class="rounded-bottom">
                <div class="row mb-3 mt-4 justify-content-center">
                    <p class="text-center text-secondary fs-5">@Localizer["DeleteFileMessage"]</p>
                </div>
                <div class="row mb-5 justify-content-center">
                    <input class="btn btn-danger col-4 me-1" value="@Localizer["Confirm"]" id="confirm-delete-btn" />
                    <input class="btn btn-outline-secondary col-4 ms-1" value="@Localizer["Cancel"]" data-bs-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

<environment include="Development">
    <script src="~/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/datatables/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>
</environment>
<environment include="Production, Staging">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>
</environment>

<script src="~/datatables/Datatable.Master.js"></script>
<script>
    //Datatable Script
        $(document).ready(function () {

            let selector = "#uploadedFiles";
            let url = "/MyFiles/GetUploads";
            let columns = [
                { data: "fileName" },
                { data: "contentType" },
                { data: "size" },
                { data: "downloadCount" },
                { data: "createdOn" },
                { data: "lastModifiedOn" },
                {
                    data: "", render: function (data, type, row) {
                        return `<a class="btn btn-danger cursor-pointer deleteBtn" id="${row.id}" onclick="selectFile(this.id)"><i class="fas fa-trash-alt text-white"></i></a>`;
                    }
                },
            ]

            let params = [1];
            let dataTable = getData(selector, url, columns, params);

            //$("#documentStatus").on("change", function () {

            //    params = [$(this).val()];
            //    dataTable.destroy();
            //    dataTable = getData(selector, url, columns, params);
            //})
        });
</script>

<script>
    //Delete Script
        function selectFile(id){

            let deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'), {
              keyboard: true
            });

            deleteModal.show();

            const confirmDeleteBtn = document.getElementById('confirm-delete-btn');
            confirmDeleteBtn.addEventListener("click", function(e){
                deleteModal.hide();
                deleteFile(id);
            });
        }

        function deleteFile(fileId){
            fetch('/MyFiles/DeleteFile', {
                    headers:{'Content-Type': 'application/json'},
                    method: 'Delete',
                    credentials: 'include',
                    body: JSON.stringify({id: fileId}),
            }).then(response =>{
                if(! response.ok)
                    alert('something went wrong please try again.');
                else
                    return response.json();
            }).then(data =>{
                alert('File Deleted Successfully');
                window.location.href = data.redirectUrl;
            }).catch(error => {
                alert(error);
            });
        };
</script>
}

@* if you recieve a can't get data row 0 column 0 to etc.. make shure that the data columns are in camel case
    you might as well rename the columns in the view model*@